@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&family=Quicksand:wght@300;500&display=swap');


/* ---------------------------------------------------------------------------header */
    
.logo{
    background: url("../images/site-images/vastra-gotaland-logo.jpeg");
    background-position: left;
    background-repeat: no-repeat;  
    background-size: contain;
    background-origin: content-box;
    padding-top: 10px;
    height: 100px;
   }



.menuitem li{
    margin: 15px;    
    display: inline-block;
}

.navbar-light .navbar-nav .nav-link{
    color: #2098d1;    
}

.navbar {    
    float: right;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
}



@media(max-width:576px){

.logo{
    height:50px;
    background-position: left;
    background-repeat: no-repeat;  
    background-size: contain;
    background-origin: content-box;
    padding-top: 10px;
    }

.menuitem li{
    margin: 0;
}

.navbar-expand-lg{
    float: none;
}

}


/* ---------------------------------------------------------------------------hero image */


.heroimage {
    background: url("../images/site-images/heroimage.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    height: 700px;
    margin-top: 5px;
    
}

.mainnote{
    font-family: "Quicksand", sans-serif;
    font-size: 90px;
    font-weight: 300;
    text-align: left;
    padding-top: 100px;
    padding-left: 75px;
    text-transform: uppercase;
    color: #bfc8db;
    letter-spacing: 2px;
}

@media(max-width:576px){

.heroimage {
    background: url("../images/site-images/heroimage.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    height: 200px;
   
}

.mainnote{
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    padding-top: 50px;
    padding-left: 10px;
    text-transform: uppercase;
    color: #bfc8db;
    line-height: 25px;
    letter-spacing: 2px;
}
}

@media only screen and (max-width: 992px) and (min-width: 768px)  {


    .navbar-nav{
        display: inline-block;            
    }

    .menuitem li{
        margin: 8px;
    }

    .heroimage {
    background: url("../images/site-images/heroimage.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    height: 450px;
    margin-top: 5px;
}

.mainnote{
    font-family: "Quicksand", sans-serif;
    font-size:50px;
    font-weight: 500;
    text-align: left;
    padding-top: 100px;
    padding-left: 10px;
    text-transform: uppercase;
    color: #bfc8db;
  }
}


/* -------------------------------------------------------------information section */

.bg-color-first{
    background-color: rgba(171, 208, 233, 0.452);
}

.bg-color-second{
    background-color: rgb(227, 217, 243,0.5);
}

.bg-color-third{
    background-color: rgba(171, 208, 233, 0.452);
}


.advice-banner{
    text-align: center;
    color: #d17e20;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 20px;
    }

.info-vaccine{
    padding-top: 10px;
    font-family: "Quicksand", sans-serif;
    background-color: aliceblue;
}

.info-vaccine h4{
    font-family: "Nunito", sans-serif;
    text-transform: uppercase;
    color: #2098d1;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 2px;
}

.info-vaccine ul{
    text-align: justify;
    padding-top: 20px;
}

.info-image{
    display: inline-block;
    text-align: center;
}

.info-image img{   
    border-radius: 25px;   
    
}

.alignment-para p{
   text-align: center;
   padding-top: 10px;
   
}

.btn-success {
    color: #fff;
    background-color: #e47332;
    border-color: #e47332;
    
}



mark{
    background-color: #e3f9fc;
}

.detail-info p{
   height: 10px;     

}

@media only screen and (max-width: 992px) and (min-width: 768px)  {

    .info-image img{   
    border-radius: 25px;
    max-width: 200px;
    max-height: 150px;
}
}

@media only screen and (max-width: 576px){
     .info-image img{   
    border-radius: 25px;
    max-width: 200px;
    max-height: 150px;
}
}

/* -------------------------------------------------------------locations info */

.timing-note{
    padding-top: 10px;
    margin: auto;
    
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    color: cornflowerblue;
}

.addresses{
    padding: 20px;
    text-align: center;
    background-color: rgba(171, 208, 233, 0.452);
    font-family: "Quicksand", sans-serif;
    letter-spacing: 2px;
}

.addresses h5{
    color: darkcyan;
}

#googlemaps{
    width: 100%;
}

.location h4{
    text-transform: uppercase;
    color: darkgreen;
}

/* -------------------------------------------------------------locations info */

.rights{
    padding-left: 20px;
    padding-top: 20px;
}

.social-links li a i{
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #446d9c;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    text-align: center;
}

#social-links-heading{
    font-family: "Nunito", sans-serif;
    text-align: left;
    padding-top: 20px;
    color: #2098d1;
}