@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&family=Roboto+Condensed:wght@300;400;700&display=swap');


/* ------------------------------------------------background colors */





/* ------------------------------------------------header */
    
.logo{
    background: url("../images/site-images/vastra-gotaland-logo.jpeg");
    background-position: left;
    background-repeat: no-repeat;  
    background-size: contain;
    background-origin: content-box;
    padding-top: 10px;
    height: 100px;
   }



.navbar-toggler{
     position: center;
}

.menuitem{
    padding-top: 20px;
}




@media(max-width:576px){

.logo{
    height:50px;
    background-position: left;
    background-repeat: no-repeat;  
    background-size: contain;
    background-origin: content-box;
    padding-top: 10px;
    }
}

